body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #acc8df;
}

#projects {
  background-color: #acc8df;
}

#contact {
  background-color: #ffffff;
  padding-bottom: 5cm;
}

section {
  padding-top: 5rem;
}
