body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #1c1e20;
}

#projects {
  background-color: #1c1e20;
}

#contact {
  background-color: #ffffff;
  padding-bottom: 5cm;
}

section {
  padding-top: 5rem;
  padding-left: -1rem;
  padding-right: -1rem;
}

#hehe {
  background-color: #2b477a;
  padding-bottom: 1cm;
}

#wave1 {
  color: #1c1e20;
}

.navbar-brand {
  margin-left: 10px;
}
